*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}